<html>
    <head>
        <title>Oscar's page</title>
    </head>
    <body>
        <h1>Shit, I'm doing this</h1>
        <h2>No, like seriously</h2>
        <p>Hi there!</p>
        <p>It works1</p>
        <h3>Of course, I left it to the last minute</h3>
        <p>Figuritively speaking.</p>
        <em>But man,</em>
        <strong>am I stupid</strong>
        <br>
        <div>
            <h3>On the other hand</h3>
            <a href="https://djangogirls.org">At least I'm doing it</a>
            <ul>
                <li>Late,</li>
                <li>but still</li>
            </ul>
        </div>
        <div>
            {% for post in posts %}
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text | linebreaksbr }}</p>
            {% endfor %}
        </div>
    </body>
</html>
